<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Robot Control</title>
  <!-- Include NippleJS -->
  <script src="/static/nipplejs.js"></script>

  <style>
    /* colors */
    :root {
      --bg: black;
      --accent: lawngreen;
      --text: white;
    }

    html {
      background-color: var(--bg);
      color: var(--text);
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
    }

    button,
    input,
    label.checkbox-button {
      min-height: 2rem;
      min-width: 2rem;
      font-size: large;
      color: var(--accent);
      background-color: var(--bg);
      border: 2px solid var(--accent);
      padding: 1rem;
    }

    button:active {
      color: var(--bg);
      background-color: var(--accent);
    }

    /* checkbox buttons */
    input[type="checkbox"] {
      display: none;
    }

    label.checkbox-button {
      background-color: var(--bg);
      color: var(--accent);
      cursor: pointer;
    }

    /* Change button color when checkbox is checked */
    input[type="checkbox"]:checked+label.checkbox-button {
      background-color: var(--accent);
      color: var(--bg);
    }

    /* prevent mobile browsers from selecting text when using joystick and controls */
    html {
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    *:not(#joystickController) {
      touch-action: manipulation;

    }

    /* controls placement */
    #camera {
      max-width: 100%;
      height: auto;
    }

    .control {
      margin: 2rem;
      box-sizing: border-box;
    }
  </style>
</head>

<body>

  <div>
    <img id="camera" src="#" alt="Camera">
  </div>


  <div>
    <div>
      <h3>Battery Charge: <span id="batteryIndicator">100%</span></h3>
    </div>

    <div class="control">
      <button id="buzzerButton">Buzzer</button>
    </div>

    <div class="control">
      <input type="checkbox" id="lightsSwitch">
      <label for="lightsSwitch" class="checkbox-button">Lights</label>
    </div>
  </div>

  <div id="joystickContainer"></div>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // set camera stream url
      document.getElementById("camera").src = `http://${window.location.host}:8001/stream`

      const joystickContainer = document.getElementById('joystickContainer');
      const buzzerButton = document.getElementById('buzzerButton');
      const lightsSwitch = document.getElementById('lightsSwitch');
      const batteryIndicator = document.getElementById('batteryIndicator');

      // Initialize NippleJS
      const joystick = nipplejs.create({
        zone: joystickContainer,
        mode: 'static',
        position: { bottom: '22%', right: '22%' },
        color: 'green',
        restJoystick: true,
      });

      // Connect to the WebSocket server
      const socket = new WebSocket(`ws://${window.location.host}/ws`);

      // Event listener for joystick movement
      joystick.on('move', function () {
        sendState();
      });

      // Event listener for joystick release
      joystick.on('end', function () {
        // Send joystick coordinates as { x: 0, y: 0 } when released
        sendState({ joystick: { x: 0, y: 0 } });
      });

      // Event listener for touch or mouse button press
      function handleButtonPress() {
        buzzerButton.classList.add('active');
        sendState();
      }

      // Event listener for touch or mouse button release
      function handleButtonRelease() {
        buzzerButton.classList.remove('active');
        sendState();
      }

      buzzerButton.addEventListener('mousedown', handleButtonPress);
      buzzerButton.addEventListener('touchstart', handleButtonPress);

      buzzerButton.addEventListener('mouseup', handleButtonRelease);
      buzzerButton.addEventListener('touchend', handleButtonRelease);

      // Event listener for lights switch
      lightsSwitch.addEventListener('change', function () {
        sendState();
      });

      // Function to send the whole state to the server
      function sendState(state = {}) {
        const defaultState = {
          joystick: joystick[0].frontPosition,
          switches: {
            lights: lightsSwitch.checked,
          },
          buttons: {
            buzzer: buzzerButton.classList.contains('active'),
          }
        };
        const finalState = { ...defaultState, ...state };
        const payload = JSON.stringify(finalState);
        console.info("sent: ", payload);

        socket.send(payload);
      }
      // Event listener for receiving data from the server
      socket.addEventListener('message', function (event) {
        console.info("recv: ", event.data);
        const data = JSON.parse(event.data);

        // Update UI based on server response
        batteryIndicator.textContent = `${data.battery_percentage}%`;

        // Add more conditions for other controls
      });

      // Error handling for the WebSocket connection
      socket.addEventListener('error', function (event) {
        console.error('WebSocket error:', event);
      });

      // Close WebSocket connection on page unload
      window.addEventListener('unload', function () {
        socket.close();
      });
    });
  </script>

</body>

</html>