<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Robot Control</title>
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/nipplejs.js"></script>
</head>

<body>
  <div class="control-container">

    <div class="control-block">
      <img id="camera" src="#" alt="Camera">
    </div>

    <div class="control-block">
      <h3>u see me rollin<div class="kbd-hint"><kbd>W</kbd><kbd>A</kbd><kbd>S</kbd><kbd>D</kbd></div>
      </h3>
      <div id="joystick" class="joystick-box">
      </div>

    </div>

    <div class="control-block">
      <button id="cameraFixButton">beep <kbd>B</kbd></button>
      <input type="checkbox" id="lightsSwitch">
      <label for="lightsSwitch" class="checkbox-button">light <kbd>L</kbd></label>

    </div>

    <div class="control-block">
      <h3>battery </h3>
      <div id="batteryProgressbarContainer">
        <div id="batteryProgressbar"></div></span>
      </div>
      </span><span id="batteryVolts"></span> <span id="batteryPercent"></span>
    </div>

    <div class="control-block">
      <div class="text">
        <p class="secondary">Due to very nature of hacked devices, they may behave unexpectedly. You
          are warned.
        </p>
      </div>
    </div>

    <script src="/static/control.js"></script>
    <script>
      // Update camera stream url
      document.getElementById("camera").src = `http://${window.location.host}:8001/stream`
    </script>
</body>

</html>